.box{
    width: 450px;
    border: 1px solid rgb(95, 95, 242);
    border-radius: 8px;
    margin: 10px;
    background-color: rgba(168, 75, 255, 0.203);
}
.header{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}